# [Machine Learning](https://github.com/rezaAdinepour/Machine-Learning-Homework/tree/main) - Spring 2024
#### [Reza Adinepour](https://github.com/rezaAdinepour)

# Problem 1: Table Preprocessing

In machine learning, preparing data for model training typically involves several
preprocessing stages. These steps, collectively referred to as preprocessing, include tasks
such as data cleaning and feature engineering. While some techniques are commonly applied
across various datasets, others are employed for specific cases. This exercise focuses on the
essential preprocessing steps commonly undertaken before model training.

* Load CSV file of the dataset “Dataset_01.csv” and show 10 random items.
* Visualize the data to find more about the characteristics of each feature.
* Visualize the data to find the relationship between different features specially features with the target value.
* Perform necessary data cleanings (which includes handling missing values, duplicates, outliers, inconsistencies, incorrect values, etc.).
* Perform the necessary feature engineering and normalize the data.
* For each step, describe your approach and the results.

## import libraries

In [2]:
import numpy as np
import pandas as pd
import torch

## read datasets

In [3]:
df = pd.read_csv("Dataset_01.csv")
print(df.shape)
df

(48842, 16)

,Unnamed: 0,index,age,job_category,edu,edu_level,marriage,job,rel,race,sex,gain,loss,hours-per-week,nationality,salary
0,0,0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,1,1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,2,2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,3,3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,4,4,18,?,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,48837,48837,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,48838,48838,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,48839,48839,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,48840,48840,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,48841,48841,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

## print random items without pandas

In [53]:
headers = df.columns.tolist()
N = 10
num = np.zeros(N)
for i in range(len(num)):
    num[i] = np.random.randint(1, len(num) + 1)


for i in num:
    print(headers[int(i)])
    print(df[headers[int(i)]])
    print('-'*50)

job_category
0             Private
1             Private
2           Local-gov
3             Private
4                   ?
             ...
48837         Private
48838         Private
48839         Private
48840         Private
48841    Self-emp-inc
Name: job_category, Length: 48842, dtype: object
--------------------------------------------------
marriage
0             Never-married
1        Married-civ-spouse
2        Married-civ-spouse
3        Married-civ-spouse
4             Never-married
                ...
48837    Married-civ-spouse
48838    Married-civ-spouse
48839               Widowed
48840         Never-married
48841    Married-civ-spouse
Name: marriage, Length: 48842, dtype: object
--------------------------------------------------
index
0            0
1            1
2            2
3            3
4            4
         ...
48837    48837
48838    48838
48839    48839
48840    48840
48841    48841
Name: index, Length: 48842, dtype: int64
--------------------------------------------------
rel
0        Own-child
1          Husband
2          Husband
3          Husband
4        Own-child
           ...
48837         Wife
48838      Husband
48839    Unmarried
48840    Own-child
48841         Wife
Name: rel, Length: 48842, dtype: object
--------------------------------------------------
marriage
0             Never-married
1        Married-civ-spouse
2        Married-civ-spouse
3        Married-civ-spouse
4             Never-married
                ...
48837    Married-civ-spouse
48838    Married-civ-spouse
48839               Widowed
48840         Never-married
48841    Married-civ-spouse
Name: marriage, Length: 48842, dtype: object
--------------------------------------------------
job_category
0             Private
1             Private
2           Local-gov
3             Private
4                   ?
             ...
48837         Private
48838         Private
48839         Private
48840         Private
48841    Self-emp-inc
Name: job_category, Length: 48842, dtype: object
--------------------------------------------------
job_category
0             Private
1             Private
2           Local-gov
3             Private
4                   ?
             ...
48837         Private
48838         Private
48839         Private
48840         Private
48841    Self-emp-inc
Name: job_category, Length: 48842, dtype: object
--------------------------------------------------
sex
0          Male
1          Male
2          Male
3          Male
4        Female
          ...
48837    Female
48838      Male
48839    Female
48840      Male
48841    Female
Name: sex, Length: 48842, dtype: object
--------------------------------------------------
sex
0          Male
1          Male
2          Male
3          Male
4        Female
          ...
48837    Female
48838      Male
48839    Female
48840      Male
48841    Female
Name: sex, Length: 48842, dtype: object
--------------------------------------------------
job_category
0             Private
1             Private
2           Local-gov
3             Private
4                   ?
             ...
48837         Private
48838         Private
48839         Private
48840         Private
48841    Self-emp-inc
Name: job_category, Length: 48842, dtype: object
--------------------------------------------------

## print random items with pandas

In [54]:
random_items = df.sample(n=10)
print(random_items)

       Unnamed: 0  index  age  job_category           edu  edu_level  \
17191       17191  17191   27       Private       HS-grad          9
11062       11062  11062   36       Private  Some-college         10
551           551    551   26       Private          10th          6
34287       34287  34287   66  Self-emp-inc     Bachelors         13
5739         5739   5739   41       Private       HS-grad          9
38752       38752  38752   53       Private     Assoc-voc         11
30336       30336  30336   33       Private       HS-grad          9
16234       16234  16234   34       Private  Some-college         10
42337       42337  42337   25       Private     Bachelors         13
32494       32494  32494   25       Private       HS-grad          9

                 marriage                job            rel  \
17191       Never-married              Sales  Not-in-family
11062            Divorced              Sales  Not-in-family
551              Divorced  Machine-op-inspct      Own-child
34287  Married-civ-spouse              Sales        Husband
5739   Married-civ-spouse       Adm-clerical           Wife
38752  Married-civ-spouse    Exec-managerial        Husband
30336       Never-married       Craft-repair  Not-in-family
16234            Divorced      Other-service  Not-in-family
42337       Never-married    Exec-managerial      Own-child
32494       Never-married              Sales      Own-child

                     race     sex  gain  loss  hours-per-week    nationality  \
17191               White    Male     0     0              30  United-States
11062               White    Male     0     0              40  United-States
551                 White    Male     0     0              35  United-States
34287               White    Male  5556     0              26  United-States
5739                White  Female  5013     0              30  United-States
38752               White    Male     0     0              45  United-States
30336               White    Male     0     0              40  United-States
16234               White  Female     0     0              34  United-States
42337               Black    Male     0     0              50  United-States
32494  Amer-Indian-Eskimo    Male  6849     0              40  United-States

      salary
17191  <=50K
11062  <=50K
551    <=50K
34287   >50K
5739   <=50K
38752  <=50K
30336  <=50K
16234  <=50K
42337  <=50K
32494  <=50K