In [2]:
import numpy as np
import pandas as pd
import torch

In [3]:
df = pd.read_csv("Dataset_01.csv")
print(df.shape)
df

(48842, 16)

,Unnamed: 0,index,age,job_category,edu,edu_level,marriage,job,rel,race,sex,gain,loss,hours-per-week,nationality,salary
0,0,0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,1,1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,2,2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,3,3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,4,4,18,?,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,48837,48837,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,48838,48838,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,48839,48839,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,48840,48840,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,48841,48841,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [27]:
headers = df.columns.tolist()
num = np.zeros(len(headers))
for i in range(len(headers)):
    num[i] = np.random.randint(0, len(headers) + 1)


for i in num:
    print(headers[int(i)])
    print(df[headers[int(i)]])
    print('-'*50)

Unnamed: 0
0            0
1            1
2            2
3            3
4            4
         ...
48837    48837
48838    48838
48839    48839
48840    48840
48841    48841
Name: Unnamed: 0, Length: 48842, dtype: int64
--------------------------------------------------
sex
0          Male
1          Male
2          Male
3          Male
4        Female
          ...
48837    Female
48838      Male
48839    Female
48840      Male
48841    Female
Name: sex, Length: 48842, dtype: object
--------------------------------------------------
edu_level
0         7
1         9
2        12
3        10
4        10
         ..
48837    12
48838     9
48839     9
48840     9
48841     9
Name: edu_level, Length: 48842, dtype: int64
--------------------------------------------------
job
0        Machine-op-inspct
1          Farming-fishing
2          Protective-serv
3        Machine-op-inspct
4                        ?
               ...
48837         Tech-support
48838    Machine-op-inspct
48839         Adm-clerical
48840         Adm-clerical
48841      Exec-managerial
Name: job, Length: 48842, dtype: object
--------------------------------------------------
sex
0          Male
1          Male
2          Male
3          Male
4        Female
          ...
48837    Female
48838      Male
48839    Female
48840      Male
48841    Female
Name: sex, Length: 48842, dtype: object
--------------------------------------------------
race
0        Black
1        White
2        White
3        Black
4        White
         ...
48837    White
48838    White
48839    White
48840    White
48841    White
Name: race, Length: 48842, dtype: object
--------------------------------------------------
marriage
0             Never-married
1        Married-civ-spouse
2        Married-civ-spouse
3        Married-civ-spouse
4             Never-married
                ...
48837    Married-civ-spouse
48838    Married-civ-spouse
48839               Widowed
48840         Never-married
48841    Married-civ-spouse
Name: marriage, Length: 48842, dtype: object
--------------------------------------------------
salary
0        <=50K
1        <=50K
2         >50K
3         >50K
4        <=50K
         ...
48837    <=50K
48838     >50K
48839    <=50K
48840    <=50K
48841     >50K
Name: salary, Length: 48842, dtype: object
--------------------------------------------------
Unnamed: 0
0            0
1            1
2            2
3            3
4            4
         ...
48837    48837
48838    48838
48839    48839
48840    48840
48841    48841
Name: Unnamed: 0, Length: 48842, dtype: int64
--------------------------------------------------
nationality
0        United-States
1        United-States
2        United-States
3        United-States
4        United-States
             ...
48837    United-States
48838    United-States
48839    United-States
48840    United-States
48841    United-States
Name: nationality, Length: 48842, dtype: object
--------------------------------------------------
nationality
0        United-States
1        United-States
2        United-States
3        United-States
4        United-States
             ...
48837    United-States
48838    United-States
48839    United-States
48840    United-States
48841    United-States
Name: nationality, Length: 48842, dtype: object
--------------------------------------------------
rel
0        Own-child
1          Husband
2          Husband
3          Husband
4        Own-child
           ...
48837         Wife
48838      Husband
48839    Unmarried
48840    Own-child
48841         Wife
Name: rel, Length: 48842, dtype: object
--------------------------------------------------
job_category
0             Private
1             Private
2           Local-gov
3             Private
4                   ?
             ...
48837         Private
48838         Private
48839         Private
48840         Private
48841    Self-emp-inc
Name: job_category, Length: 48842, dtype: object
--------------------------------------------------
Unnamed: 0
0            0
1            1
2            2
3            3
4            4
         ...
48837    48837
48838    48838
48839    48839
48840    48840
48841    48841
Name: Unnamed: 0, Length: 48842, dtype: int64
--------------------------------------------------
race
0        Black
1        White
2        White
3        Black
4        White
         ...
48837    White
48838    White
48839    White
48840    White
48841    White
Name: race, Length: 48842, dtype: object
--------------------------------------------------
age
0        25
1        38
2        28
3        44
4        18
         ..
48837    27
48838    40
48839    58
48840    22
48841    52
Name: age, Length: 48842, dtype: int64
--------------------------------------------------